<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- <title>WEDN.NET</title> -->
  <title>{{ site_name }}</title>
<link href="/assets/css/app.861c0f.css" rel="stylesheet"></head>
<body>
  <div id="app"></div>
<script type="text/javascript" src="/assets/js/manifest.861c0f.js"></script><script type="text/javascript" src="/assets/js/vendor.861c0f.js"></script><script type="text/javascript" src="/assets/js/app.861c0f.js"></script></body>
</html>
