{{extend ('./_layout.html')}}

{{set (title = 'Sign in')}}

{{#block ('body')}}
  <form class="form-account{{ error && ' shake animated' }}" action method="post" autocomplete="off">
    <h2 class="heading">{{ title }}</h2>
    <fieldset class="form-group top">
      <label for="username" class="sr-only">Username or Email</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username / Email" required value="{{ model.username }}" autofocus>
    </fieldset>
    <fieldset class="form-group bottom">
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required value="{{ model.password }}">
    </fieldset>
    <fieldset class="form-group checkbox">
      <!-- TODO: 记住密码 -->
      {{! <label><input type="checkbox" name="remember" value="true"> Remember me</label> }}
      <a class="float-xs-right" href="/account/reset">Forgot password?</a>
    </fieldset>
    <button class="btn btn-primary btn-block" type="submit">Sign in</button>
  </form>
  <div class="footer">
    New to WEDN.NET? <a href="/account/register">Create an account</a>
  </div>
{{/block}}
