{{extend ('./_layout.html')}}

{{set (title = 'Sign up')}}

{{#block ('body')}}
  <form class="form-account{{ error && ' shake animated' }}" action method="post" autocomplete="off">
    <h2 class="heading">{{ title }}</h2>
    <fieldset class="form-group top">
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username" required value="{{ model.username }}" autofocus>
    </fieldset>
    <fieldset class="form-group middle">
      <label for="email" class="sr-only">Email</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email" required value="{{ model.email }}">
    </fieldset>
    <fieldset class="form-group bottom">
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required value="{{ model.password }}">
    </fieldset>
    <button class="btn btn-primary btn-block" type="submit">Create an account</button>
  </form>
  <div class="footer">
    Already have an account? <a href="/account/login">Sign in</a>
  </div>
{{/block}}
