{
  "plugins": [
    "transform-async-to-generator",
    "transform-es2015-modules-commonjs"
  ],
  "env": {
    "client": {
      "presets": [
        ["es2015", { "modules": false }]
      ]
    },
    "server": {
      "plugins": [
        "transform-async-to-generator",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
