<!DOCTYPE html>
<html>
  <head>
    <title>Error - {{status}} - {{env}}</title>
  </head>
  <body>
    <div id="error">
      <h1>Error</h1>
      <p>Looks like something broke!</p>
    {{#if env}}
      <h2>Message:</h2>
      <pre>
        <code>
{{error}}
        </code>
      </pre>
      <h2>Stack:</h2>
      <pre>
        <code>
{{stack}}
        </code>
      </pre>
    {{/if}}
    </div>
  </body>
</html>
