<!DOCTYPE html>
<html lang="{{ options.site_lang }}">

<head>
  <meta charset="{{ options.site_charset }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ options.site_description }}">
  <meta name="author" content="{{ options.site_author }}">
  <title>{{ title }} « {{ options.site_name }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ options.site_favicon }}">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
      <a class="navbar-brand" href="{{url('/')}}">{{ options.site_name }}</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{url('/')}}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a href="/img/logo.png" class="nav-link" download="logo.png">Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url('/about')}}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url('/contact')}}">Contact</a>
        </li>
        {{#if (session.user)}}
        <li class="nav-item">
          <a class="nav-link" href="{{url('/account/logout')}}">Logout</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>
  <div class="landing container">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    {{#if (session.user)}}
    <a class="btn btn-primary btn-lg" href="{{url('/account/logout')}}">Welcome {{ session.user.nickname }} - {{ session.user.status }}</a>
    {{else}}
    <a class="btn btn-primary btn-lg" href="{{url('/account/login')}}">Getting started</a>
    {{/if}}
  </div>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/tether/js/tether.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
